

.color{
    background-color:whitesmoke;

}

.logo{
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 5px;
}

.font{
    font-family: 'Bebas Neue', sans-serif;;
}

.dropbtn {
    background-color: whitesmoke;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dropbtn img {
    height: 40px;
    width: 40px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}



#backgroundImg{
    height: 600px;
    width: 120%;
    position: relative;
    filter: grayscale(100%) blur(5px);
}

.contentPres{
    margin: auto;
    width: 70%;
    color: white;
    text-shadow: 2px;
    position: absolute;
}

.title{
    font-size: 350%;
    text-shadow: 2px 1px black;
}

.content{
    margin-top: 3rem;
    text-shadow: 2px 1px black;
}

.wrappMain{
    margin-top: 7rem;
}

.wrappGallery{
	margin-top: 5.5rem;
	padding-inline: 10rem;
}


.wrappProduits{
	margin-top: 5.5rem;
	font-size: 350%;
}

.wrappProduits h1{
	font-size: 150%;
}

.wrappFooter{
    background-color: whitesmoke;
}

.linkFoot{
    text-decoration: none;
    color: black;
}

.copyrights{
    font-size: 90%;
    color: lightgray;
}



